@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-fwd-top{animation:slide-in-fwd-top .4s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes slide-in-fwd-top{0%{transform:translateZ(-1400px) translateY(-800px);opacity:0}100%{transform:translateZ(0) translateY(0);opacity:1}}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background:rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb {
  background:rgb(199, 198, 198);
}

.fc-toolbar-title {
    color: white;
    text-transform: uppercase;
}

.fc-direction-ltr {
    color: white;
    margin: auto;
    width: 97%;
    padding-bottom: 2rem;
}

.fc-event-title-container{
  color: white;
  background: rgb(62, 60, 63);
}

.fc-h-event {
  background: rgb(62, 60, 63);
  border: 1px solid  rgb(62, 60, 63);
}

